# --- Python ---
venv/
__pycache__/
*.pyc

# --- Node ---
node_modules/
dist/

# --- Environment Variables ---
.env
.env.*
frontend/.env
frontend/.env.*

# Allow example env files
!.env.*.example
!frontend/.env.*.example

# --- OS ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log
